@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 30px auto;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.info1 {
  width: 25%;
}

.info p {
  color: #363636e5;
  font-family: "DM Sans", sans-serif;
  line-height: 32px;
}

.infoChild {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 25px;

  }
  .info {
    gap: 15px;
    text-align: center;
  }
  .infoChild {
    gap: 7px;
  }
}
